@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    font-family: "Ubuntu", sans-serif;
}

.container-block {
    background: url("../assets/fon.png") 0 0/cover no-repeat;
    height: 768px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    height: 58px;
    padding: 0 79px;
}

.logo {
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    display: inline-block;
    text-decoration: none;
}

.logo:hover {
    color: #01813F;
}

.sing{
    display: flex;
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    color: #FFFFFF;
}

.vector {
    padding-right: 25px;
}

.vector-date:hover {
    content: url("../assets/svg/Vector-green.svg");
}

.vector-list:hover {
    content: url("../assets/svg/Vector-green2.svg");
}

.vector-nav:hover {
    content: url("../assets/svg/Vector-green3.svg");
}

.line{
    opacity: 0.5;
    border-right: 1px solid #ffffff;
}

.line:hover{
    border-right: 1px solid #01813F;
}

.log-sing{
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.log-sing:hover{
    color: #01813F;
}

.form-singUp {
    position: absolute;
    left: calc(38%);
    top: 112px;
    bottom: 74px;
    background: #FFFFFF;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    height: 584px;
}

.sing-form {
    margin-top: 30px;
}

.square {
    width: 18px;
    height: 18px;
    margin-right: 43px;
    background: #3CB878;
    display: inline-block;
}

.sing-up {
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    text-decoration: none;
    margin-right: 215px;
}

.log-in {
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    text-decoration: none;
}

.log-in:hover {
    color: #01813F;
    text-decoration: underline;
}

.or-line {
    text-align: center;
    border-bottom: 1px solid #F2F2F2;
    line-height: 0.1em;
    margin: 25px 0 9px;
    font-size: 14px;
}

.or{
    background: #fff;
    padding: 0 10px;
    color: #848484;
}

.form-in {
    display: flex;
    flex-direction: column;
    padding: 0 60px;
}

.button-form {
    padding: 15px 60px;
}

.btn {
    width: 160px;
    height: 48px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    cursor: pointer;
}

.blue{
    background: #305DB8;
}

.red{
    background: #DF4A32;
}

.btn-blue:hover {
    background: #022263;
}

.blue:hover {
    background: #022263;
}

.red:hover {
    background: #AB1F09;
}

.fg{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 25px;
}

.rectangle{
    border-right: 1px solid #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
    margin: 10px 15px;
}

.form-input {
    padding: 15px 20px;
    margin: 7px 0;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    width: 282px;
    height: 14px;
    outline: none;
    cursor: pointer;
}

.form-input::placeholder {
    color: #BEBEBE;
}

.form-input:focus {
    background: #FFFFFF;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}

.agree-terms {
    padding-top: 12px;
    cursor: pointer;
}

.checkmark {
    display: none;
}

.checkmark:checked ~ .checkbox-imitation img {
    opacity: 1;
    pointer-events: initial;
}

.checkbox-imitation {
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    display: inline-block;
}

.checkbox-imitation img {
    opacity: 0;
    pointer-events: none;
}

.agree {
    padding-left: 11px;
}

.terms {
    color: #3CB878;
    text-decoration: none;
}

.terms:hover {
    color: #01813F;
    text-decoration: underline;
}

.subscribe-btn {
    padding: 15px 20px;
    margin: 20px 0;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    width: 324px;
    height: 46px;
    outline: none;
    background: rgba(60, 184, 120, 0.8);
    cursor: pointer;
}

.subscribe-btn:hover {
    background-color: #01813F;
}


